.btnBox{
  position:fixed;
  right:10px;
  top:50%;

  color:#fff;

  .textAddBtn{
    display:flex;
    align-items: center;
    justify-content: center;
    width:50px;
    height:50px;
    box-shadow: 2px 2px 16px rgba(255,81,93,.8);
    border-radius:50%;
    background:#ff515d;
    opacity: .8;

    margin-bottom: 10px;
  }
  .textMinusBtn{
    display:flex;
    align-items: center;
    justify-content: center;
    width:50px;
    height:50px;
    box-shadow: 2px 2px 16px rgba(255,81,93,.8);
    border-radius:50%;
    background:#ff515d;
    opacity: .9;
  }
}